/****************************************************************************** 
 * Override some styles to match ZEISS branding
 *
 * See https://brand.zeiss.com/
 *
 * Copyright 2023, Carl Zeiss GOM Metrology GmbH
 ******************************************************************************/

/* Based on Read the Docs theme */
@import 'theme.css';


/******************************************************************************
 * Fonts
 ******************************************************************************/

/* Use font "ZEISS Frutiger Next W1G" */
@font-face {
	font-family: "Frutiger Next";
	src: url("../fonts/ZEISS-Frutiger-Next-W02-Regular.woff2") format("woff2"),
	url("../fonts/ZEISS-Frutiger-Next-W02-Regular-Italic.woff2") format("woff2"),
    url("../fonts/ZEISS-Frutiger-Next-W02-Medium.woff2") format("woff2"),
	url("../fonts/ZEISS-Frutiger-Next-W02-Bold.woff2") format("woff2");
}

:root {
    --font-family-frutiger: "Frutiger Next", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

html, body, .rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: var(--font-family-frutiger);
    color: #000000; /* was #404040 */
}


/******************************************************************************
 * Links
 ******************************************************************************/

/* Changed from #2980b9 -> ZEISS Azure */
a {
    color: #0072EF;
}

/* Changed from #9b59b6 -> ZEISS Saphire */
a:visited {
    color: #4C6BB1;
}


/******************************************************************************
 * Menu section text, changed from #55a5d9 -> ZEISS Sky Blue, from 85% -> 100%
 ******************************************************************************/

/* Menu section text, changed from #55a5d9 -> ZEISS Sky Blue, from 85% -> 100% */
.wy-menu-vertical p.caption {
    color: #6AB0E2;
    font-size: 100%;
}

/* Menu text, changed from #404040 to ZEISS Black */
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a {
    color: #000000;
}

/* Menu text, changed from #404040 -> ZEISS Black*/
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    color: #000000;
}

/* Changed from #298069 -> ZEISS Ultradark Gray */ 
.wy-side-nav-search {
    background: #32373E;
}

/* Changed from #343131 -> ZEISS Ultradark Gray */
.wy-nav-side {
    background: #32373E;
}

/* Menu level 1, changed from #d9d9d9 -> ZEISS White */
.wy-menu-vertical a {
    color: #FFFFFF;
}

/* Menu level 1, changed from #fcfcfc -> ZEISS Light Gray */
.wy-menu-vertical li.current>a {
    background: #B4C0CA;
}

/* Menu level 2, changed from c9c9c9 -> ZEISS Ultralight Gray */
.wy-menu-vertical li.toctree-l2.current>a {
    background: #DCE3E9;
}

/* Menu level 3, changed from #c9c9c9 -> ZEISS Semiwhite Gray */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #F2F5F8;
}


/* Changed from #d6d6d6/#c9c9c9 -> ZEISS Azure */
.wy-menu-vertical li.current a:hover, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover {
    background: #0072EF;
}

/* Changed from #fcfcfc */
.wy-nav-content-wrap, .wy-body-for-nav, .wy-nav-content, .wy-dropdown-menu {
    background: #ffffff;
}


/******************************************************************************
 * Admonitions
 ******************************************************************************/

/* Changed from #6ab0de -> ZEISS Saphire */
.rst-content .note .admonition-title, .rst-content .seealso .admonition-title {
    background: #4C6BB1;
}

/* Changed from #e7f2fa -> ZEISS Ultralight Gray */
.rst-content .note, .rst-content .seealso {
    background: #DCE3E9;
}

/* Changed from #1abc9c -> ZEISS Green */
.rst-content .important .admonition-title, .rst-content .hint .admonition-title, .rst-content .caution .admonition-title {
    background: #1E8565;
}

/* Changed from #dbfaf4 -> ZEISS Ultralight Gray */
.rst-content .important, .rst-content .hint, .rst-content .caution {
    background: #DCE3E9;
}

/* Changed from #f0b37e -> ZEISS Bright Orange Neon */
.rst-content .warning .admonition-title, .rst-content .attention .admonition-title {
    background: #E71E1E;
}

/* Changed from # #ffedcc -> ZEISS Ultralight Gray */
.rst-content .warning, .rst-content .attention {
    background: #DCE3E9;
}


/******************************************************************************
 * Literal text / code examples
 ******************************************************************************/

/* Changed from #e74c3c -> ZEISS Purple Red */
.rst-content code.literal {
    color: #A70240;
}

/* Changed from #f8f8f8 -> ZEISS Semiwhite Gray */
pre {
    background: #F2F5F8;
}

/* Changed from #3D7B7B (increased contrast) */
.highlight .c1 {
    color: #2D6B6B;
}

/* Changed from #AA22FF (increased contrast) */
.highlight .ow {
    color: #9A12EF;
    font-weight: bold;
}

/******************************************************************************
 * Separator between feed entries
 ******************************************************************************/
.feed-meta {
  border-bottom: 0.5em solid grey;
}
