/* Override some styles to match ZEISS branding */

/* Based on Read the Docs theme */
@import 'theme.css';

/* Changed from #298069 */ 
.wy-side-nav-search {
    background: #343131;
}

/* Section headings in menu bar - changed from #55a5d9 to ZEISS Cyan #008BD0 */
.wy-menu-vertical {
    p.caption {
        color: #008BD0;
    }

    /* Links in menu bar - changed from #d9d9d9 to Azure #0072EF */
    a {
        color: #0072EF;
    }
}
