name: Docs
on: [push, pull_request, workflow_dispatch]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - name: Install dependencies
        run: |
          pip install sphinx==5.1.1 sphinx_rtd_theme sphinx-favicon myst_parser
      - name: Sphinx build
        run: |
          sphinx-build doc _build
      - name: Set branch name
        id: branch
        run: echo "SUBDIR_NAME=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Deploy
        if: ${{ github.event_name != 'pull_request' }}
        uses: peaceiris/actions-gh-pages@v3.7.0-8
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          destination_dir: ${{ env.SUBDIR_NAME }}
          full_commit_message: Deploy documentation of '${{ env.SUBDIR_NAME }}' to GitHub Pages
